.DS_Store

/sobol/input01/*
/sobol/output?/results*.txt
/sobol/output??/results*.txt

/output/tdarray.csv
/output/results*.txt
/output/control/results*.txt
/output/foliar/results*.txt
/output/seed/results*.txt
/output/soil/results*.txt

/log/log*exp.txt
/log/log*.txt

/input/control/*.*
/input/foliar/*.*
/input/seed/*.*
/input/soil/*.*
/input/*.log

.Rproj.user
beeRpop.Rproj



