/sobol*
/output/tdarray.csv
/output/results*.txt
/output/control/results*.txt
/output/exposed/results*.txt
/log/log*exp.txt
/log/log*.txt
/input/input*.txt
/input/control/input*.txt
/input/exposed/input*.txt
/input/*.log
.Rproj.user
beeRpop.Rproj
