/output/tdarray.csv
/output/results*.txt
/output/control/results*.txt
/output/exposed/results*.txt
/log/log*exp.txt
/log/log*.txt
/input/input*.txt
/input/control/input*.txt
/input/exposed/input*.txt
/input/*.log
.Rproj.user
beeRpop.Rproj
/sobol/input1/input*.txt
/sobol/input2/input*.txt
/sobol/output1/results*.txt
/sobol/output2/results*.txt